.stack {
  display: inline-flex;
  align-items: center;
}

.item + .item {
  margin-left: -6px;
}

.item {
  border: 2px solid var(--color-bg);
  border-radius: var(--radius-full);
  line-height: 0;
}
